# TriviaGame .gitignore
# 2021-02-07
# exclude IDE etc.specific 
.settings
.project
.buildpath
.idea/

# exclude project specific temp. deprecated resources
*.depr
/tmp
./tmp

# exclude 3rd party stuff
/vendor
composer.json
composer.lock
.phpunit.result.cache
phpunit # symlink to vendor/bin/phpunit

# exclude local functional testing resources
index.php
temp.php
tmp.php
#.htaccess
post.html
# exclude local configuration
.local.conf.php
Foo.php
